.teja{
   
        padding: 0;
        margin: 0;
        box-sizing: border-box
 
}
.class
{
    padding: 0;
    margin: 0;
    box-sizing: border-box

}
.formrow{
    background: rgb(196, 24, 24);
}